#body {
  width: 100%;
  margin: 0 auto;
}

#title {
  text-align: center;
  font-family: 'Alegreya', 'sans-serif';
}

#img-div {
  width: 100%;
  display: grid;
  position: relative;
  justify-content: center;
}

#image {
  height: auto;
  display: block;
  max-width: 100%;
  border: 1px solid;
}

#img-caption {
  font-size: 15px;
  text-align: center;
  font-family: 'Alegreya', 'sans-serif';
}

#tribute-info {
  margin: auto;
  background: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#list-order {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Alegreya', 'sans-serif';
}

@media (max-width: 700px) {
  #list-order {
    width: 300px;
  }
}

#quote {
  text-align: center;
  font-style: italic;
  font-family: 'Alegreya', 'sans-serif';
}

#external-link {
  font-size: 15px;
  text-align: center;
  font-family: 'Alegreya', 'sans-serif';
}