/* Note: the ID's are used only for project tests */
#body {
	width: 100%;
	margin: auto;
	background: radial-gradient(circle, #43a047, #66bb6a, #43a047);
}


	/* Page's Title */
	#title-div {
		text-align: center;
		font-family: 'Raleway', 'sans-serif';
	}


	/* Form Section */
	#form-section {
		background: #f0f0f0;
		width: 600px;
		margin: 0 auto;
		padding-bottom: 20px;
		border-radius: 5px;
	}


		/* Small description for the page */
		#description {
			padding-top: 20px;
			padding-bottom: 10px;
			font-size: 16px;
			text-align: center;
			font-family: 'Raleway', 'sans-serif';
		}


		/* Starting point for the form */
		#survey-form {
			font-family: 'Raleway', 'sans-serif';
		}


			/* Name, Email and Age section */
			.position {
				display: grid;
				grid-template-columns: 50% 50%;
				margin-right: 50px;
				margin-left: 50px;
			}
			.survey-format {
				text-align: right;
				margin-right: 30px;
				margin-top: 7px;
				font-size: 14px;	
			}
			.input-format {
				height: 30px;
			}
			#name::placeholder {
				font-family: 'Raleway', 'sans-serif';
			}
			#email::placeholder {
				font-family: 'Raleway', 'sans-serif';
			}
			#number::placeholder {
				font-family: 'Raleway', 'sans-serif';
			}
			#dropdown option {
				font-family: 'Raleway', 'sans-serif' !important;
			}
			#dropdown select {
				font-family: 'Raleway', 'sans-serif' !important;
			}
	

			/* Radio buttons and check-boxes section */
			.wrapper-1 {
				display: grid;
				grid-template-columns: 50% 50%;
				justify-content: center;
				margin-left: 50px;
				margin-right: 50px;
				font-size: 14px;
			}
			.sub-wrapper-1 {
				text-align: right;
				text-align-last: right;
				margin-right: 30px;
				margin-left: 30px;
			}
			.unlist {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}
	

			/* Text-area section */
			#textarea-div {
				display: grid;
				grid-template-columns: 30% 30%;
				justify-content: center;
			}
			#textarea {
				resize: vertical;
			}
			#textarea-label {
				font-size: 14px;
				text-align: right;
				margin-right: 30px;
			}


			/* Submit button */
			#submit-div {
				display: grid;
				justify-content: center;
			}
			#submit {
				height: 30px;
				width: 100px;
				background: #43a047;
				border-radius: 5px;
				border: none;
				color: white;
				font-family: 'Raleway', 'sans-serif';
			}


/* First media query for resizing */
@media (max-width: 700px) {	
	#form-section {
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
}

/* Second media query for resizing */
@media (max-width: 500px) {
	#body {
		width: 320px;
	}


		#form-section {
			width: 320px;
			max-width: 400px;
		}


			.position {
				display: grid;
				grid-template-columns: 80%;
			}
			.survey-format {
				text-align: left;
				margin-bottom: 10px;	
			}


			.wrapper-1 {
				display: grid;
				grid-template-columns: 80%;
				justify-content: flex-start;
				font-size: 14px;
			}
			.sub-wrapper-1 {
				text-align: left;
				text-align-last: left;
				margin-right: 0px;
				margin-left: 0px;
				margin-bottom: 10px;
			}


			#textarea-div {
				display: grid;
				grid-template-columns: 80%;
				justify-content: center;
			}
			#textarea-label {
				font-size: 14px;
				text-align: left;
				margin-left: 10px;
			}
}