.quote {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Quicksand';
  color: #282c34;
}

.button-share-new {
  display: flex;
  justify-content: center;
}

#tweet-quote {
  margin-left: 5px;
  font-size: 18px;
}

#new-quote {
  font-size: 12px;
}

#quote-box {
  background-color: white;
  padding: 40px 50px 40px 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #282c34;
}

#author {
  font-size: 14px;
}