.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e2326;
}

.calculator__container {
  height: 440px;
  width: 320px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 100px #0f1012;
}

.calculator__screen {
  min-height: 120px;
  background-color: #fafafa;
}

.calculator__digits {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 64px 64px 64px 64px 64px;
  grid-template-areas: 
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

#display__digits {
  display: block;
  color: #1e2326;
  font-size: 32px;
  margin-top: 10px;
  margin-left: 15px;
}

#clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2326;
  color: #fafafa;
  font-size: 18px;
  grid-area: clear;
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #5e4bb6;
  grid-area: add;
  border-color: #6152a3;
}

#subtract {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #5e4bb6;
  grid-area: subtract;
  border-color: #6152a3;
}

#multiply {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #5e4ab5;
  grid-area: multiply;
  border-color: #6152a3;
}

#divide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #5e4bb6;
  grid-area: divide;
  border-color: #6152a3;
}

#equals {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e2326;
  font-size: 18px;
  background-color: #fec208;
  grid-area: equals;
  border-color: #e3b66d;
}

#decimal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: decimal;
}

#zero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: zero;
}

#one {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: one;
}

#two {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: two;
}

#three {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: three;
}

#four {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: four;
}

#five {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: five;
}

#six {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: six;
}

#seven {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: seven;
}

#eight {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: eight;
}

#nine {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 18px;
  background-color: #1e2326;
  grid-area: nine;
}